html {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url('/images/background.jpeg');
}
body{
    color:white;
}

.lista-exercicios {
    font-size: 25px;
    list-style:none;
}

.titulo {
    padding: 30px;
}

